{{/* @see :: data/<Product>.yml */}}
  {{- $DATA := (index .Context.Site.Data .Product) -}}
  {{- $META := merge $DATA.meta (default dict .Context.Params.meta) -}}

  {{- $pt := default .Context.Title .Context.Params.meta.title -}}
  {{- $title := printf "%s · %s" $pt $DATA.meta.title -}}
  {{- if not $DATA.meta.title -}}
  {{ $title = $pt }}
  {{- end -}}

  <meta charset="utf-8">
  <title>{{ $title }}</title>
  <meta http-equiv="cleartype" content="on" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="application-name" content="{{ $title }}" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="apple-mobile-web-app-title" content="{{ $title }}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="theme-color" content="#144798" />

  <meta name="description" content="{{ $META.description }}" />

  <meta property="og:image" content="{{ $META.image | absURL }}" />
  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:description" content="{{ $META.description }}" />
  <meta property="og:type" content="website" />

  <meta name="twitter:title" content="{{ $title }}" />
  <meta name="twitter:image" content="{{ $META.image | absURL }}" />
  <meta name="twitter:description" content="{{ $META.description }}" />
  <meta name="twitter:creator" content="{{ $META.author }}" />
  <meta name="twitter:card" content="summary_large_image" />

  <link rel="icon" href="/favicon-32x32.png" />
  <link rel="canonical" href="{{ .Context.Permalink }}" />
  <link rel="manifest" href="/site.webmanifest" />

  <link rel="apple-touch-icon" sizes="192x192" href="/android-chrome-192x192.png" />
  <link rel="apple-touch-icon" sizes="512x512" href="/android-chrome-512x512.png" />


  {{ $flexSearch := resources.Get "flexSearch.js" -}}
  <script src="{{ $flexSearch.RelPermalink }}" defer></script>


  {{ $indexTemplate := resources.Get "indexDocs.js" -}}
  {{ $index := $indexTemplate | resources.ExecuteAsTemplate "index.js" . -}}
  <script src="{{ $index.RelPermalink }}" defer></script>


  <!-- Load katex -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css"
    integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js"
    integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js"
    integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
    onload="renderMathInElement(document.body, {delimiters: [{left: '$$', right: '$$', display: true},{left: '$', right: '$', display: false}]});"></script>